.color-input {
    width: 50px !important;
    height: 44px !important;
}

input[type="color" i] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.name {
    padding-right: 1px !important;
}

#nameInput {
    height: 50px;
    width: 313px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Karla';
    line-height: 21px;
    letter-spacing: -0.03em;
    padding: 15px;
}

.marker {
    padding-left: 1px !important;
}

.metrics {
    padding-left: 5px;
    font-size: 18px;
    line-height: 21px;
}

#durationInput {
    height: 50px;
    width: 170px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Karla';
    line-height: 21px;
    letter-spacing: -0.03em;
    float: left;
    text-align: right;
    padding: 15px;
}