.sidebar {
    background-color: white;
}

/* menu */
.ui.inverted.margotColor.menu, .ui.inverted.menu .margotColor.active.item {
    background: transparent;
}

/* selected tab*/
.ui.inverted.margotColor.menu .active.item {
    background-color: #0B132B;
    color: white;
}

/* tab */
.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
    background-color: transparent;
    color: #0B132B;
    border: 2px solid #0B132B;
    border-radius: 5px;
    margin-right: 0px;
}

/* tab hover */
.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover {
    background-color: #e6e7e9;
    color: #0B132B;
}