.radio-btn {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.radio-btn:hover {
    cursor: pointer;
}

.radio-btn > label {
    display: block;
    font-size: 18px;
    font-family: 'Karla';
    line-height: 21px;
    letter-spacing: -0.03em;
    padding-top: 6px;
}

.radio-btn > label:hover {
    cursor: pointer;
}

.selected {
    background-color: #E56C2D;
    color: white;
}

.unselected {
    background-color: white;
    color: black;
}

.disabled {
    color: grey;
    background-color: white;
}
